body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 3.73vw;
  line-height: 1.12;
  color: $primary-text;

  @media screen and (min-width: 768px) {
    font-size: 2.34vw;
  }

  @media screen and (min-width: 1440px) {
    font-size: 1.67vw;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  display: block;

  border: 0;
  background-color: transparent;
  padding: 0;

  cursor: pointer;

  &:hover {
    box-shadow: none;
  }

  &--pink {
    padding-top: 4vw;
    padding-bottom: 4vw;
    border-radius: 10.67vw;
    background-color: $primary-button;
    box-shadow: 0 0 5.33vw 1.33vw rgb(252 115 135 / 50%);

    font-weight: 600;
    font-size: 4.27vw;
    color: $accent-color;

    @media screen and (min-width: 768px) {
      padding-top: 2.47vw;
      padding-bottom: 2.47vw;

      font-size: 2.34vw;
    }

    @media screen and (min-width: 1440px) {
      padding-top: 1.32vw;
      padding-bottom: 1.32vw;

      font-size: 1.25vw;
    }
  }
}

.section {
  position: relative;
  overflow: hidden;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 62.66vw;
    height: 31.2vw;
    margin: 0 auto;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;

    text-align: center;
    font-weight: 700;
    font-size: 5.33vw;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      width: 47.53vw;
      height: 22.7vw;

      font-size: 3.9vw;
    }

    @media screen and (min-width: 1440px) {
      width: 23vw;
      height: 11vw;

      font-size: 2.08vw;
    }
  }

  &__description {
    margin-bottom: 4vw;

    font-weight: 600;
    font-size: 4.26vw;
    color: $accent-color;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 1.04vw;

      font-size: 3.12vw;
    }

    @media screen and (min-width: 1440px) {
      width: 46.15vw;
      margin-left: 0;
      margin-bottom: 2.22vw;

      font-size: 1.9vw;
    }
  }
}

.icon {
  stroke: currentColor;
  flex-shrink: 0;
}

.decorative-line {
  position: absolute;
  top: 39.8vw;
  left: 0;

  width: 61vw;
  height: 2.67vw;
  border-radius: 0 1.33vw 1.33vw 0;
  background-image: linear-gradient(to right, $gradient-start, $gradient-end);

  @media screen and (min-width: 768px) {
    top: 28.8vw;

    width: 49vw;
  }

  @media screen and (min-width: 1440px) {
    top: 12.8vw;

    width: 28.7vw;
    height: 1.4vw;
  }
}
