.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 0.8vw;
  padding-right: 15vw;
  padding-top: 1.6vw;
  padding-bottom: 1.6vw;
  background-color: #B8E2ED;

  @media screen and (min-width: 768px) {
    padding-left: 8.07vw;
    padding-right: 4.55vw;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 0.67vw;
    padding-bottom: 0.6vw;
    padding-left: 7.08vw;
    padding-right: 7.08vw;
  }

  &__logo {
    width: 20.2vw;
    height: 14.2vw;
    background-image: url(../images/logo.svg);
    background-size: cover;

    @media screen and (min-width: 768px) {
      width: 9.86vw;
      height: 7.13vw;
    }

    @media screen and (min-width: 1440px) {
      width: 6.92vw;
      height: 4.97vw;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    width: 33.29vw;
    padding-top: 2.08vw;
    padding-bottom: 2.08vw;
    padding-left: 2.6vw;
    padding-right: 2.6vw;
    background: $primary-button;
    border-radius: 5.20vw;
    box-shadow: 0 0 5.33vw 1.33vw rgb(252 115 135 / 50%);
    
    font-size: 2.08vw;
    line-height: 1.25;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;

    @media screen and (max-width: 767px) {
      position: absolute;
      top: 11.3vw;
      left: 50%;
      transform: translateX(-50%);
      
      width: 44.2vw;
      padding-top: 2.13vw;
      padding-bottom: 2.13vw;
      padding-left: 8vw;
      padding-right: 8vw;
      border-radius: 8vw;

      font-size: 3.73vw;
      line-height: 1.06;
      font-weight: 500;
    }

    @media screen and (min-width: 1440px) {
      width: 19.51vw;
      padding-top: 1.25vw;
      padding-bottom: 1.25vw;
      padding-left: 1.52vw;
      padding-right: 1.52vw;

      font-size: 1.25vw;
      line-height: 1.22;
    }
  }

  &__menu-wrapper {
    @media screen and (max-width: 767px) {
      display: none;
    }

    display: flex;
    align-items: center;
  }

  &__phone-menu-open {
    width: 7.4vw;
    height: 5vw;
    background-image: url(../images/mobile-menu.svg);
    background-size: cover;

    @media screen  and (min-width: 768px) {
      display: none;
    }
  }
  
  &__menu-open {
    display: flex;
    align-items: center;
    margin-left: 2.34vw;

    font-size: 2.6vw;
    line-height: 1.2;
    text-transform: uppercase;
    color: #0A0070;

    &::after {
      content: "";
      display: inline-block;
      width: 3vw;
      height: 2vw;
      margin-left: 1.17vw;
      background-image: url(../images/mobile-menu.svg);
      background-size: cover;

      @media screen and (min-width: 1440px) {
        width: 1.59vw;
        height: 1.1vw;
        margin-left: 0.62vw;
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 1440px) {
      margin-left: 1.25vw;

      font-size: 1.39vw;
      line-height: 1.2;
    }
  }
}