.lang {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    width: 2.08vw;
    height: 2.08vw;
    background-image: url(../images/flag-ru.svg);
    background-size: 2vw 2vw;
    background-repeat: no-repeat;

    @media screen and (max-width: 767px) {
      width: 4.27vw;
      height: 4.27vw;
      background-size: 4.27vw;
    }

    @media screen and (min-width: 1440px) {
      width: 1.11vw;
      height: 1.11vw;
      background-size: 1.1vw 1.1vw;
    }
  }

  @media screen and (max-width:767px) {
    display: none;
  }

  &--mobile {
    display: none;
    @media screen and (max-width: 767px) {
      position: absolute;
      top: 12.8vw;
      left: 5.33vw;

      display: block;

      @media screen and (orientation: landscape) {
        top: 0.8vw;
        left: 1.33vw;
      }
    }
  }
  
  &__list {
    border: none;

    font-size: 2.34vw;
    color: #0A0070;
    background-color: transparent;

    @media screen and (max-width: 767px) {
      font-size: 4.8vw;

      // @media screen and (orientation: landscape) {
      //   font-size: 3.34vw;
      // }
    }

    @media screen and (min-width: 1440px) {
      font-size: 1.25vw;
      line-height: 1.22;
    }
  }
}