// ----------- Background colors ------------ //

$primary-bgc: #0A0070;
$secondary-bgc: #B8E2ED;
$accent-bgc: #FFE06B;

// ----------- Text colors ----------- //

$primary-text: #000000;
$secondary-text: #0A0070;
$accent-color: #FFFFFF;
$dec-color: #FDE589;

// ----------- Title colors ----------- //

$head-title: #FFE06B;
$primary-title: #0A0070;
$secondary-title: #B8E2ED;

// ----------- Button colors ----------- //

$primary-button: #FC7387;

// ----------- Decorative elements colors ----------- //

$circle-violet: #8900FA;
$circle-pink: #FC7387;
$circle-turquoise: #30D4FE;
$circle-yellow: #FDE589;
$circle-dark-blue: #0A0070;

$square-blue: #273CFD;
$square-yellow: #FDE589;
$square-pink: #FC7387;
$square-violet: #8900FA;
$square-turquoise: #30D4FE;

$gradient-start: #8900FA;
$gradient-end: #FC7387;
