// ----------- Background colors ------------ //

$primary-bgc: #0A0070;
$secondary-bgc: #B8E2ED;
$accent-bgc: #FFE06B;
$lable-bgc: #FC7387;

// ----------- Text colors ----------- //

$primary-text: #000000;
$secondary-text: #0A0070;
$accent-color: #FFFFFF;
$dec-color: #FDE589;


// ----------- Title colors ----------- //

$head-title: #FFE06B;
$primary-title: #0A0070;
$secondary-title: #B8E2ED;

// ----------- Button's colors ----------- //

$primary-button: #FC7387;
$slider-button: rgba(0, 87, 159, 0.12);

// ----------- Item's colors ----------- //

$repetitors-list-text: #FC7387;
$primary-item-bgc: #FFFFFF;
$repetitors-item-bgc: rgba(95, 40, 120, 0.31);
$hover-repetitors-item-bgc: #5F2878;
$faq-item-bgc: #8900FA;

// ----------- Decorative elements colors ----------- //

$circle-violet: #8900FA;
$circle-pink: #FC7387;
$circle-turquoise: #30D4FE;
$circle-yellow: #FDE589;
$circle-dark-blue: #0A0070;
$circle-blue: #273CFD;

$square-blue: #273CFD;
$square-yellow: #FDE589;
$square-pink: #FC7387;
$square-violet: #8900FA;
$square-turquoise: #30D4FE;

$gradient-start: #8900FA;
$gradient-end: #FC7387;
