// ----------- Background colors ------------ //

$primary-bgc: #0a0070;
$secondary-bgc: #b8e2ed;
$accent-bgc: #ffe06b;
$lable-bgc: #fc7387;

// ----------- Text colors ----------- //

$primary-text: #000000;
$secondary-text: #0a0070;
$accent-color: #ffffff;
$dec-color: #fde589;

// ----------- Title colors ----------- //

$head-title: #ffe06b;
$primary-title: #0a0070;
$secondary-title: #b8e2ed;

// ----------- Button's colors ----------- //

$primary-button: #fc7387;
$slider-button: rgba(0, 87, 159, 0.12);

// ----------- Item's colors ----------- //

$repetitors-list-text: #fc7387;
$tutorial-item-bgc: #ffffff;
$repetitors-item-bgc: rgba(95, 40, 120, 0.31);
$hover-repetitors-item-bgc: #5f2878;
$support-list-bgc: rgba(255, 255, 255, 0.35);

// ----------- Decorative elements colors ----------- //

$circle-violet: #8900fa;
$circle-pink: #fc7387;
$circle-turquoise: #30d4fe;
$circle-yellow: #fde589;
$circle-dark-blue: #0a0070;

$square-blue: #273cfd;
$square-yellow: #fde589;
$square-pink: #fc7387;
$square-violet: #8900fa;
$square-turquoise: #30d4fe;

$gradient-start: #8900fa;
$gradient-end: #fc7387;
